
@font-face {
    font-family: '../../webfonts/lato';
    src: url('../../webfonts/Lato-Hai-webfont.eot');
    src: url('../../webfonts/lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/lato-Hai-webfont.woff') format('woff'),
         url('../../webfonts/lato-Hai-webfont.ttf') format('truetype'),
         url('../../webfonts/lato-Hai-webfont.svg#LatoHairline') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: '../../webfonts/lato';
    src: url('../../webfonts/lato-Lig-webfont.eot');
    src: url('../../webfonts/lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/lato-Lig-webfont.woff') format('woff'),
         url('../../webfonts/lato-Lig-webfont.ttf') format('truetype'),
         url('../../webfonts/lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: '../../webfonts/lato';
    src: url('../../webfonts/lato-Reg-webfont.eot');
    src: url('../../webfonts/lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/lato-Reg-webfont.woff') format('woff'),
         url('../../webfonts/lato-Reg-webfont.ttf') format('truetype'),
         url('../../webfonts/lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: '../../webfonts/lato';
    src: url('../../webfonts/lato-Bol-webfont.eot');
    src: url('../../webfonts/lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/lato-Bol-webfont.woff') format('woff'),
         url('../../webfonts/lato-Bol-webfont.ttf') format('truetype'),
         url('../../webfonts/lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: '../../webfonts/lato';
    src: url('../../webfonts/lato-Bla-webfont.eot');
    src: url('../../webfonts/lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/lato-Bla-webfont.woff') format('woff'),
         url('../../webfonts/lato-Bla-webfont.ttf') format('truetype'),
         url('../../webfonts/lato-Bla-webfont.svg#LatoBlack') format('svg');
    font-weight: 900;
    font-style: normal;

}